$black: #000;
$white: #fff;

$custom-foreground-color-1: $black;
$custom-foreground-color-2: $white;

:root {
  --custom-foreground-color-1: #000;
  --custom-foreground-color-2: #fff;

  --custom-textbox-color-1: rgba(0, 0, 0, 0.66);
  --custom-textbox-color-2: rgba(255, 255, 255, 0.66);

  --custom-transparency-color-1: rgba(0, 0, 0, 0.33);
  --custom-transparency-color-2: rgba(255, 255, 255, 0.33);
}
.block.parallax,
.block-editor-parallax {
  &.has--themeForegroundColor--custom-foreground-color-1
    .parallax-wrapper
    .parallax-wrapperRef {
    --theme-foreground-color: var(--custom-foreground-color-1, #000);

    .parallax-title,
    .parallax-text,
    .parallax-button {
      color: var(--custom-foreground-color-1, #000);
    }

    &:has(.parallax-content .default, .outlined-textbox) .transparencyLayer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.66);
    }
  }
  &.has--themeForegroundColor--custom-foreground-color-2
    .parallax-wrapper
    .parallax-wrapperRef {
    --theme-foreground-color: var(--custom-foreground-color-2, #fff);

    .parallax-title,
    .parallax-text,
    .parallax-button {
      color: var(--custom-foreground-color-2, #fff);
    }

    &:has(.parallax-content .default, .outlined-textbox) .transparencyLayer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.33);
    }
  }

  &.has--size--s {
    .parallax-wrapper {
      height: 300px;
    }
  }
  &.has--size--m {
    .parallax-wrapper {
      height: 600px;
    }
  }
  &.has--size--l {
    .parallax-wrapper {
      height: 900px;

      .default {
        width: 100%;
        &.has-content {
          border-top: 1px solid var(--theme-foreground-color);
          border-bottom: 1px solid var(--theme-foreground-color);
        }
      }
    }
  }

  &.has--themeForegroundColor--custom-foreground-color-1
    .parallax-wrapper
    .parallax-wrapperRef
    .parallax-content
    .solid-textbox {
    &.has-content {
      background-color: var(
        --custom-textbox-color-2,
        rgba(255, 255, 255, 0.66)
      );
    }
  }
  &.has--themeForegroundColor--custom-foreground-color-2
    .parallax-wrapper
    .parallax-wrapperRef
    .parallax-content
    .solid-textbox {
    &.has-content {
      background-color: var(--custom-textbox-color-1, rgba(0, 0, 0, 0.66));
    }
  }

  .parallax-button {
    display: none;
  }

  &.has--showButton--true .parallax-button {
    display: inline-block;
    width: max-content;
    padding: 8px 20px;
    border: 1px solid var(--theme-foreground-color);
    border-color: var(--theme-foreground-color);
    background: transparent;
    color: var(--theme-foreground-color);
    gap: 10px;
  }
}

.parallax-wrapper {
  position: relative;
  overflow: hidden;
  color: var(--theme-foreground-color);

  .parallax-wrapperRef img {
    position: absolute;
    top: 35%;
    min-width: 100%;
    min-height: 150%;
    object-fit: cover;
    will-change: transform;
  }
}

.parallax-content {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  width: 100%;
  max-width: 940px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);

  .box {
    width: 100%;
    max-width: 940px;
    box-sizing: border-box;
    padding: 80px 40px 0px 40px;
    text-align: var(--block-alignment);
  }

  .outlined-textbox {
    width: 100%;

    &.has-content {
      border: 1px solid var(--theme-foreground-color);
      border-color: var(--theme-foreground-color);
    }
  }

  .solid-textbox {
    width: 100%;
  }

  .parallax-title {
    padding-bottom: 60px;
    margin-bottom: 0px;
  }
  .parallax-text {
    padding-bottom: 80px;
  }

  .parallax-line {
    width: 100%;
    border: 1px solid #fff;
    border-color: var(--theme-foreground-color);
    margin: 80px 0;
  }
}

.has--showButton--true .parallax-content .box {
  padding-bottom: 80px;
}

.color-picker-widget,
.color-swatch-widget,
.theme-picker-widget {
  // Color widget &
  // Theme color picker widget

  button,
  .button {
    &.custom-foreground-color-1 {
      background: var(--theme-foreground-color, #000);
    }

    &.custom-foreground-color-2 {
      background: var(--theme-foreground-color, #fff);
    }
  }
}
