$black: #000;
$white: #fff;

$custom-foreground-color-1: $black;
$custom-foreground-color-2: $white;

:root {
  --custom-foreground-color-1: #000;
  --custom-foreground-color-2: #fff;
}
.block.parallax,
.block-editor-parallax {
  &.has--themeForegroundColor--custom-foreground-color-1 .parallax-wrapper {
    --theme-foreground-color: var(--custom-foreground-color-1, #000);
  }
  &.has--themeForegroundColor--custom-foreground-color-2 .parallax-wrapper {
    --theme-foreground-color: var(--custom-foreground-color-2, #fff);
  }

  &.has--size--s {
    .parallax-wrapper {
      height: 300px;
    }
  }
  &.has--size--m {
    .parallax-wrapper {
      height: 600px;
    }
  }
  &.has--size--l {
    .parallax-wrapper {
      height: 900px;
    }
  }
}

.parallax-wrapper {
  position: relative;
  overflow: hidden;
  color: var(--theme-foreground-color);

  img {
    min-width: 100%;
    object-fit: cover;
    will-change: transform;
  }
}

.parallax-image {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 150%;
  object-fit: cover;
  will-change: transform;
}

.parallax-sidebar-image {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: rgb(243, 245, 246);
  text-transform: uppercase;
}

.parallax-content {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  width: 100%;
  max-width: 940px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);

  .box {
    width: 100%;
    max-width: 940px;
    box-sizing: border-box;
    text-align: var(--block-alignment);
  }

  .outlined-textbox {
    width: 100%;
    padding: 40px;
    border: 1px solid #fff;
    border-color: var(--theme-foreground-color);
  }

  .solid-textbox {
    width: 100%;
    padding: 80px 0;

    &.parallax-custom-color-1 {
      background-color: rgba(0, 0, 0, 0.66);
    }
    &.parallax-custom-color-2 {
      background-color: rgba(255, 255, 255, 0.66);
    }
  }

  &.centered {
    align-items: center;
    text-align: center;
  }
  &.left {
    align-items: flex-start;
    text-align: left;
  }

  .parallax-title {
    padding-bottom: 60px;
    margin: 0;

    &.has-text {
      margin-bottom: 60px;
    }
    &.has-ButtonText {
      margin-bottom: 60px;
    }
    &.has-hideButton {
      margin-bottom: 60px;
    }
  }
  .parallax-text {
    padding-bottom: 80px;
    margin-bottom: 0px;

    &.has-ButtonText {
      margin-bottom: 80px;
    }
  }

  .parallax-line {
    width: 100%;
    margin: 80px 0;
    border: 1px solid #fff;
    border-color: var(--theme-foreground-color);
  }
}

.parallax-button {
  width: max-content;
  padding: 8px 20px;
  background: transparent;
  gap: 10px;
  border: 1px solid #fff;
  border-color: var(--theme-foreground-color);
  color: var(--theme-foreground-color);
}

.color-picker-widget,
.color-swatch-widget,
.theme-picker-widget {
  // Color widget &
  // Theme color picker widget

  button,
  .button {
    &.custom-foreground-color-1 {
      background: var(--theme-foreground-color, #000);
    }

    &.custom-foreground-color-2 {
      background: var(--theme-foreground-color, #fff);
    }
  }
}
