$black: #000;
$white: #fff;

$custom-foreground-color-1: $black;
$custom-foreground-color-2: $white;

:root {
  --custom-foreground-color-1: #000;
  --custom-foreground-color-2: #fff;

  --custom-textbox-color-1: rgba(0, 0, 0, 0.66);
  --custom-textbox-color-2: rgba(255, 255, 255, 0.66);

  --custom-transparency-color-1: rgba(0, 0, 0, 0.33);
  --custom-transparency-color-2: rgba(255, 255, 255, 0.33);
}

body #page-document .blocks-group-wrapper .block.parallax {
  max-width: 100%;
}

.block.parallax,
.block-editor-parallax {
  &.has--themeForegroundColor--custom-foreground-color-1
    .parallax-wrapper
    .parallax-wrapperRef {
    --theme-foreground-color: var(--custom-foreground-color-1, #000);
    .solid-textbox {
      &.has-content {
        background-color: var(
          --custom-textbox-color-2,
          rgba(255, 255, 255, 0.66)
        );
      }
    }
    .parallax-title,
    .parallax-description,
    .parallax-button {
      color: var(--custom-foreground-color-1, #000);
    }

    &:has(.parallax-content .full_overlay) .transparencyLayer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.66);
    }
  }
  &.has--themeForegroundColor--custom-foreground-color-2
    .parallax-wrapper
    .parallax-wrapperRef {
    --theme-foreground-color: var(--custom-foreground-color-2, #fff);
    .solid-textbox {
      &.has-content {
        background-color: var(--custom-textbox-color-1, rgba(0, 0, 0, 0.66));
      }
    }
    .parallax-title,
    .parallax-description,
    .parallax-button {
      color: var(--custom-foreground-color-2, #fff);
    }

    &:has(.parallax-content .full_overlay) .transparencyLayer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.33);
    }
  }

  &.has--size--s {
    .parallax-wrapper {
      height: 300px;
    }
  }
  &.has--size--m {
    .parallax-wrapper {
      height: 600px;
    }
  }
  &.has--size--l {
    .parallax-wrapper {
      height: 900px;

      .full_overlay {
        width: 100%;
      }
    }
  }

  .parallax-button {
    display: inline-block;
    width: max-content;
    padding: 8px 20px;
    border: 1px solid var(--theme-foreground-color);
    border-color: var(--theme-foreground-color);
    background: transparent;
    color: var(--theme-foreground-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    gap: 10px;
    line-height: 20px;
  }
  .external.link .parallax-button {
    cursor: pointer;
  }

  .parallax-title {
    padding-bottom: 60px;
  }

  .parallax-description {
    padding-bottom: 80px;
  }

  &.has--hideButton--true {
    .parallax-button {
      display: none;
    }

    .parallax-title {
      padding-bottom: 0px;
    }

    .parallax-description {
      padding-bottom: 0px;
    }
  }
}

.parallax-wrapper {
  position: relative;
  overflow: hidden;
  color: var(--theme-foreground-color);

  .parallax-wrapperRef img {
    position: absolute;
    top: 35%;
    min-width: 100%;
    min-height: 150%;
    object-fit: cover;
    will-change: transform;
  }
}

.parallax-content {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  width: 100%;
  max-width: 940px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);

  &:has(.solid-textbox) .box {
    padding: 40px;
  }

  &:has(.full_overlay, .parallax-content) .box {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .box {
    display: inline-block;
    width: fit-content;
    max-width: 940px;
    box-sizing: border-box;
    align-self: var(--block-alignment);
    text-align: var(--block-alignment);

    &:has(.parallax-description) .parallax-title {
      padding-bottom: 60px;
    }
  }

  .parallax-title {
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }

  p,
  p * {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
  }
}

.has--hideButton--true
  :has(.full_overlay .parallax-title):not(:has(.parallax-description))
  .box {
  padding-bottom: 60px;
}
